<div *ngIf="refYield">
  <h2>Reference Yield: {{ refYield.name }}</h2>
  <div>
    <label>Ref starter (g): </label>
    <input [(ngModel)]="refYield.starter" />
  </div>
  <div>
    <label
      >Ref flour (g):
      <input [(ngModel)]="refYield.flour" />
    </label>
  </div>
  <div>
    <label
      >Ref water (g):
      <input [(ngModel)]="refYield.water" />
    </label>
  </div>
  <div>
    <label
      >Ref yield target:
      <input [(ngModel)]="refYield.target" />
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="update()">update</button>
</div>

<div *ngIf="yield">
  <h2>Levain Build</h2>
  <div>
    <label
      >Name (if saving):
      <input [(ngModel)]="yield.name" />
    </label>
  </div>
  <div>
    <label
      >Target starter (g):
      <input disabled [(ngModel)]="yield.starter" />
    </label>
  </div>
  <div>
    <label
      >Target flour (g):
      <input disabled [(ngModel)]="yield.flour" />
    </label>
  </div>
  <div>
    <label
      >Target water (g):
      <input disabled [(ngModel)]="yield.water" />
    </label>
  </div>
  <div>
    <label
      >yield target:
      <input [(ngModel)]="yield.target" />
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="calculate()">calculate</button>
  <button (click)="save()">save</button>
  <button *ngIf="yield.id > 0">
    <a routerLink="/hydration/{{ yield.id }}"> to hydration calculation </a>
  </button>
</div>
